* {
  font-family: Verdana;
  padding: 0;
  margin: 0;
}

a {
	color: #000;
	text-decoration: none;
}

.example {
	max-width: 35%;
}

a::after {
  content: " (" attr(href) ")";
}

a:not([href^="http"])::after {
  content: " (https://senna.sjsu.edu/wdoane/dsexton/" attr(href) ")";
}

nav, .intralinks, form {
	display: none;
}