* {
	box-sizing: border-box;
}

/* Navigation */

nav ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: #FFFFFF;
}

nav a {
	display: block;
	padding: 1em;
	text-decoration: none;
	font-family: Verdana;
	color: #000000;
	font-weight: bold;
	background-color: #FFFFFF;
}

nav a:hover {
	background-color: #879D9A;
}

/* Content */

body {
	margin: 0;
	font-family: Verdana;
	font-size: 14px;
	background-color: #879D9A;
}

h1 {
	font-size: 2em;
	text-align: center;
}

h2 {
	font-size: 1.5em;
	text-align: center;
}

h3 {
	font-size: 1em;
	text-align: center;
}

header {
	background-color: #879D9A;
	padding: 1em;
	grid-area: header;
}

.header {
	font-size: 3em;
	font-weight: bold;
	padding: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	padding: 1em;
	grid-area: main;
	background-color: #FFFFFF;
}

aside {
	padding: 1em;
	grid-area: aside;
	background-color: #FFFFFF;
}

footer {
	background-color: #879D9A;
	padding: 1em;
	grid-area: footer;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Links */

main a:link {
	color: #000000;
	background-color: #E7EBEA;
	text-decoration: underline;
}

main a:visited {
	color: #000000;
	background-color: #E7EBEA;
	text-decoration: underline;
}

main a:hover {
	color: #000000;
	background-color: #FFFFFF;
	text-decoration: underline;
}

main a:active {
	color: #000000;
	background-color: #FFFFFF;
	text-decoration: none;
}

aside a:link {
	color: #000000;
	background-color: #E7EBEA;
	text-decoration: underline;
}

aside a:visited {
	color: #000000;
	background-color: #E7EBEA;
	text-decoration: underline;
}

aside a:hover {
	color: #000000;
	background-color: #FFFFFF;
	text-decoration: underline;
}

aside a:active {
	color: #000000;
	background-color: #FFFFFF;
	text-decoration: none;
}

footer a {
	display: block;
	padding: 1em;
	text-decoration: none;
	font-family: Verdana;
	color: #000000;
	font-weight: bold;
	background-color: #FFFFFF;
}
footer a:hover {
	background-color: #879D9A;
}

/* Forms */

#mailing-list {
	border: 3px solid #879D9A;
	padding: 1em;
	text-align: center;
}

#mailing-list input[type=text] {
	border: 2px solid #879D9A;
	width: 100%;
}

#mailing-list input[type=email] {
	border: 2px solid #879D9A;
	width: 100%;
}

#mailing-list fieldset {
	border: 2px solid #879D9A;
}

.ml-label {
	font-weight: bold;
	color: #000000;
}

.ml-sublabel {
	font-weight: normal;
	color: #000000;
}

#ml-submit {
	font-weight: bold;
	color: #000000;
	background-color: #879D9A;
}

#copyright-accessibility {
	padding: 1em 4em 1em 4em;
}

#copyright-accessibility input[type=text] {
	width: 100%;
	height: 4em;
	resize: none;
	border: 1px solid #879D9A;
}

#copyright-accessibility input[type=email] {
	width: 100%;
	border: 1px solid #879D9A;
}

.ca-label {
	font-weight: bold;
	color: #000000;
}

#ca-submit {
	font-weight: bold;
	background-color: #FFFFFF;
}

/* Tables */

table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	text-align: center;
}

table thead {
	background-color: #879D9A;
	font-weight: bold;
}

td:nth-child(1) {
	background-color: #879D9A;
	font-weight: bold;
}

table, table td {
	border: 1px solid #879D9A;
}

table td {
	padding: 6px;
}

/* Lists */

ul {
	color: #879D9A;
}

/* Images */

.example {
	max-width: 100%;
	height: auto;
}

/* Figures */

figure {
	max-width: 100%;
	height: auto;
}

figcaption {
	font-size: 0.75em;
	font-weight: bold;
}

/* Media */

.media {
  position: relative;
  padding-bottom: 50%;
  padding-top: 2em;
  height: 0;
  overflow: hidden;
}

.media iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Desktop */

@media (min-width: 768px) {
.container {
	display: grid;
	grid-template-rows: auto auto minmax(3em,auto);
	grid-template-columns: 2.5fr 1.5fr;
	grid-template-areas: 
		"header header"
		"main aside"
		"footer footer";
}
}

/* Mobile */

@media (max-width: 768px) {
.container {
	display: block;
}
}